*{padding: 0px;margin: 0px;}
@font-face{
  font-family: 'pingfang',Arial, Helvetica, sans-serif;
  src: url('pingfang-re');
}
a{
  text-decoration: none;
  color: #848484;
}
body{
  margin-top: 80px;
  .app{
    .head{
      position:fixed;
      left: 0px;
      right: 0px;
      top: 0px;
      height: 50px;
      background: white;
      box-shadow: 0px 2px 10px #e8e8e8;
      z-index: 100;
      .head-content{
        width: 1160px;
        height: 50px;
        margin: 0 auto;
      .head-left{
        display: inline-block;
        width: 500px;
        margin: 0px;
        img{
          line-height: 50px;
          cursor: pointer;
        }
       input{
         position: relative;
         bottom: 8px;
         outline: medium;
         border: 1px solid #ececec;
         padding-left: 20px;
         width: 318px;
         height: 28px;
         border-radius: 0.4em;
       }
       button{
         cursor: pointer;
         background-color:#42bdeb;
         border: 1px solid #42bdeb;
         width: 48px;
         height: 30px;
         position: relative;
         bottom: 8px;
         left:-43px;
         border-radius: 0.4em;
         i{
           color: white;
         }
       }

      }
         ul{
          vertical-align: top;
          list-style: none;
          line-height: 42px;
          margin-top: 5px;
          margin-right: 45px;
          margin-left: -60px;
          display: inline-block;
          color: #a1a1a1;
          .li-first{
            border-bottom: 4px solid #42bdeb;
            a{
              color: #42a0ff;
            }
           }
         li{
           margin-left: 30px;
           display: inline-block;
           width: 65px;
           text-align: center;
           cursor: pointer;
           &:hover{
             border-bottom: 4px solid #42bdeb;
             a{color: #42bdeb;}                        
          }
         }
      }
     }
     .head-right{
       display: inline-block;
      //  margin-left: 135px;
      float: right;
      margin-top: 10px;
     .message{
       display: inline-block;
       cursor: pointer;
       color: #929292;
       vertical-align: top;
       margin-top: 4px;
       margin-right: 10px;
       sup{
         position: relative;
         left: -10px;
         height: 20px;
         width: 20px;
         color: #fff;
         background-color: #e9563e;
         border-radius: 50%;
         font-size: 12px;
         transform: scale(0.8);
       }
     }
     .user-img{
       display: inline-block;
       margin-right: 20px;
       width: 32px;
       height: 32px;
       border-radius: 50%;
       overflow: hidden;
     }
      .download-client{
        float: right;
        width: 90px;
        height: 30px;
        text-align: center;
        margin-left: 10px;
        line-height: 30px;
        background-color: #42bdeb;
        border-radius: 0.4em;
        text-decoration: none;
        color: white;
        font-size: 14px;
        cursor: pointer;
     }
    }
    }
    .body-content{
      width: 1160px;
      margin: 0 auto;
      // 图片展示
      .recommend{
        margin-bottom: 30px;
       .swiper-container{
         display: inline-block;
         width: 440px;
         height: 220px;
         .swiper-wrapper{
           .swiper-slide{
             img{
               width: 100%;
               height: 100%;
             }
           }
         }
        .swiper-pagination{
          text-align: right;
          background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.7));
          bottom: 0px;
          height: 60px;
          width: 98%;
          line-height: 60px;
          padding-right: 2%;
          color: white;
        }
       }
       .recommend-right{
         list-style: none;
         float: right;
         width: 700px;
         li{
           position: relative;
           display: inline-block;
           width: 160px;
           height: 100px;
           margin-bottom:15px;
           margin-right: 10px;
           overflow: hidden;
           cursor: pointer;
           box-shadow: 0 3px 7px 0 #DAD8D8;
           border-radius: 4px;
           transition: all 0.25s ease;
           &:hover{
             transform: translate(-5px ,-10px);
             box-shadow: 10px 10px 6px 0 #DAD8D8;
           }
           a{
             img{
               width: 100%;}
           }
           p{
             position: absolute;
             bottom: 0px;
             left: 0px;
             right: 0px;
             height: 25px;
             color: white;
             font-size: 12px;
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
             line-height: 25px;
             background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
            }
         }
       }
      }
      // 推广
      .promote{
        display: inline-block;
        margin-bottom: 30px;
        .pro-left{
          display: inline-block;
          width: 900px;
          .pro-title{
            width: 900px;
            padding-bottom: 20px;
            display: inline-block;
            span{
              font-size: 24px;
              vertical-align: top;
              margin-left: 5px;
            }
            }
            .detail{
              float: right;
              span{
                display: inline-block;
                width: 57px;
                height: 19px;
                margin-top: 10px;
                border: 1px solid #dbdbdb;
                font-size: 12px;
                text-align: center;
                border-radius: 0.4em;
                color: #999999;
                margin-right: 2px;
                cursor: pointer;
              }
              a{
                text-decoration: none;
                font-size: 14px;
                color: #42bdeb;
                line-height: 40px;
                margin-right: 20px;
              }
            }
            .list{
              list-style: none;
              margin-bottom: 20px;
              li{
                display: inline-block;
                margin-right: 16.2px;
                width: 160px;
                height: 162px;
                vertical-align: top;
                overflow: hidden;
                &:hover{
                  .description{
                    height: auto;
                    color: #42bdeb;
                    text-overflow: initial;
                    white-space: normal;
                  }
                  .img-content{
                    &:before{
                      height: 100%;
                      width: 100%;
                      transition: width 0.2s ease-out ,
                                 height 0.2s ease-out 0.2s;
                      border-bottom-color: #42bdeb;
                      border-left-color: #42bdeb;
                    }
                    &:after{
                      height: 100%;
                      width: 100%;
                      transition: width 0.2s ease-out ,
                                 height 0.2s ease-out 0.2s;
                      border-top-color: #42bdeb;
                      border-right-color: #42bdeb;
                    }
                    .info{
                      transform: translateY(0);
                    }
                  }

                }
                a{
                  .img-content{
                    position: relative;
                    overflow:hidden;
                    width: 160px;
                    height: 100px;
                    margin-right: 10px;
                    border-radius:0.4em;
                    margin-bottom: 10px;
                    &:before{
                      display: block;
                      content:"";
                      position: absolute;
                      bottom: 0px;
                      right: 0px;
                      width: 0px;
                      height: 0px;
                      transition: border-color 0s ease-in 0.4s,
                                  width 0.2s ease-in 0.2s,
                                  height 0.2s ease-in ;
                      border: 2px solid transparent;
                      border-radius: 0.4em;
                       box-sizing: border-box;
                    }
                    &:after{
                      display: block;
                      content:"";
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      width: 0px;
                      height: 0px;
                      transition: border-color 0s ease-in 0.4s,
                                  width 0.2s ease-in 0.2s,
                                  height 0.2s ease-in ;
                      border: 2px solid transparent;
                      border-radius: 0.4em;
                      box-sizing: border-box;

                    }
                    img{
                      width: 100%;
                      min-height: 100px;
                    }
                    .info{
                      display: flex;
                      align-items: center;
                      line-height: 30px;
                      position: absolute;
                      left: 0px;
                      right: 0px;
                      bottom: 0px;
                      background-color: #42bdeb;
                      transition: all 0.2s ease 0.2s;
                      transform:translateY(30px);
                      img{
                        width: 20px;
                        min-height: 20px;
                        margin: 0 5px;
                      }
                      span{
                        font-size: 12px;
                        color: white;
                      }

                    }

                  }
                .description{
                  width: 100%;
                  height: auto;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  margin-bottom: 5px;
                  font-size: 12px;
                  color: #1E1E1E;
                }
                .view-commit{
                  height: 17px;
                  .view{
                    margin-right: 20px;
                    padding-right: 2px;
                    color: #42bdeb;
                    font-size: 10px;
                    line-height: 17px;
                    img{
                      vertical-align: -2px;
                      margin-right: 2px;
                    }
                  }
                  .commit{
                    margin-right: 20px;
                    padding-right: 2px;
                    color: #6FC93A;
                    font-size: 10px;
                    line-height: 17px;
                    img{
                      vertical-align: -2px;
                      margin-right: 2px;
                    }
                  }
                }
                }
              }
            }
          }
        .pro-right{
          float:right;
          display: inline-block;
          width: 240px;
          h2{
            font-weight: normal;
            margin: 10px;
          }
          .right-list{
            list-style: none;
            li{
              margin-bottom: 7px;
              height: 25px;
              a{
                display: block;
                font-size: 15px;
                color:#848484;
                vertical-align: top;
                &:hover{
                  color: #42bdeb;
                }
                span{
                  display: inline-block;
                  width: 17px;
                  height: 17px;
                  font-size: 12px;
                  border-radius: 4px;
                  background-color: #42bdeb;
                  color: white;
                  text-align: center;
                  margin-right: 13px;
                }
                img{
                  vertical-align: -7px;
                  width: 25px;
                  height: 25px;
                  border-radius: 25px;
                  margin-right: 17px;
                }
              }
            }
          }
        }
      }
      // 社团
      .community{
        margin-bottom: 30px;
          .pro-left{
            display: inline-block;
            width: 900px;
            .pro-title{
              width: 900px;
              padding-bottom: 20px;
              display: inline-block;
              .title-left{
                display: inline-block;
               span{
                font-size: 24px;
                vertical-align: 11px;
                margin-left: 5px;
              }
            }
              .top-list{
                list-style: none;
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin-top: 10px;
                margin-left: 20px;
                .first-li{
                  border-bottom: 2px solid ;
                  color: #42a0ff;
                  padding-bottom: 2px;
                  &:before{
                    margin-left: 18px;
                    position: absolute;
                    bottom: 1px;
                    border-bottom: 3px solid #42a0ff;
                    border-top: 3px solid transparent;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                    content: "";
                  }
                }
                li{
                  display: inline-block;
                  margin-right: 28px;
                  font-size: 14px;
                  color: #1E1E1E;
                  &:hover{
                    color: #42bdeb;
                    cursor: pointer;
                  }
                }
              }
              }
              .detail{
                float: right;
                span{
                  display: inline-block;
                  width: 57px;
                  height: 19px;
                  margin-top: 10px;
                  border: 1px solid #dbdbdb;
                  font-size: 12px;
                  text-align: center;
                  border-radius: 0.4em;
                  color: #999999;
                  margin-right: 2px;
                  cursor: pointer;
                }
                a{
                  text-decoration: none;
                  font-size: 14px;
                  color: #42bdeb;
                  line-height: 40px;
                  margin-top: 2px;
                  margin-right: 20px;
                }
              }
              .list{
                list-style: none;
                margin-bottom: 20px;
                li{
                  display: inline-block;
                  margin-right: 16.2px;
                  width: 160px;
                  height: 162px;
                  vertical-align: top;
                  overflow: hidden;
                  &:hover{
                    .description{
                      height: auto;
                      color: #42bdeb;
                      text-overflow: initial;
                      white-space: normal;
                    }
                    .img-content{
                      &:before{
                        height: 100%;
                        width: 100%;
                        transition: width 0.2s ease-out ,
                                   height 0.2s ease-out 0.2s;
                        border-bottom-color: #42bdeb;
                        border-left-color: #42bdeb;
                      }
                      &:after{
                        height: 100%;
                        width: 100%;
                        transition: width 0.2s ease-out ,
                                   height 0.2s ease-out 0.2s;
                        border-top-color: #42bdeb;
                        border-right-color: #42bdeb;
                      }
                      .info{
                        transform: translateY(0);
                      }
                    }

                  }
                  a{
                    .img-content{
                      position: relative;
                      overflow:hidden;
                      width: 160px;
                      height: 100px;
                      margin-right: 10px;
                      border-radius:0.4em;
                      margin-bottom: 10px;
                      &:before{
                        display: block;
                        content:"";
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: 0px;
                        height: 0px;
                        transition: border-color 0s ease-in 0.4s,
                                    width 0.2s ease-in 0.2s,
                                    height 0.2s ease-in ;
                        border: 2px solid transparent;
                        border-radius: 0.4em;
                         box-sizing: border-box;
                      }
                      &:after{
                        display: block;
                        content:"";
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 0px;
                        height: 0px;
                        transition: border-color 0s ease-in 0.4s,
                                    width 0.2s ease-in 0.2s,
                                    height 0.2s ease-in ;
                        border: 2px solid transparent;
                        border-radius: 0.4em;
                        box-sizing: border-box;

                      }
                      img{
                        width: 100%;
                        min-height: 100px;
                      }
                      .info{
                        display: flex;
                        align-items: center;
                        line-height: 30px;
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        background-color: #42bdeb;
                        transition: all 0.2s ease 0.2s;
                        transform:translateY(30px);
                        img{
                          width: 20px;
                          min-height: 20px;
                          margin: 0 5px;
                        }
                        span{
                          font-size: 12px;
                          color: white;
                        }

                      }

                    }
                  .description{
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-bottom: 5px;
                    font-size: 12px;
                    color: #1E1E1E;
                  }
                  .view-commit{
                    height: 17px;
                    .view{
                      margin-right: 20px;
                      padding-right: 2px;
                      color: #42bdeb;
                      font-size: 10px;
                      line-height: 17px;
                      img{
                        vertical-align: -2px;
                        margin-right: 2px;
                      }
                    }
                    .commit{
                      margin-right: 20px;
                      padding-right: 2px;
                      color: #6FC93A;
                      font-size: 10px;
                      line-height: 17px;
                      img{
                        vertical-align: -2px;
                        margin-right: 2px;
                      }
                    }
                  }
                  }
                }
              }
          }
          .pro-right{
            margin-top: 6px;
            vertical-align: top;
            display: inline-block;
            width: 20%;
            h2{
              display: inline-block;
              font-size: 20px;
              font-weight: normal;
              .span-first{
                font-size: 16px;
                color: #999999;
                margin-left: 2px;
              }
              .right-top{
                display: inline-block;
                position: relative;
                margin-left: 50px;
                font-size: 14px;
                color: #68ceff;
                vertical-align: bottom;
                .span-two{
                  border-bottom: 2px solid ;
                  color: #42a0ff;
                  &:before{
                    margin-left: 11px;
                    position: absolute;
                    bottom: 0;
                    border-bottom: 3px solid #42a0ff;
                    border-top: 3px solid transparent;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                    content: "";
                  }
                }
              }
            }
            ul{
              list-style: none;
              margin-top: 32px;
              .sou{
                a{
                  color: #1E1E1E;
                  &:hover{
                    color: #42a0ff;
                  }
                }
                font-size: 12px;
                text-overflow:ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
              li{
                margin-bottom: 10px;
                &:hover{
                  h6{
                    color: #42a0ff;
                  }
                }
                a{
                  .right-left{
                    display: inline-block;
                    width: 89px;
                    height: 62px;
                    img{
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .right-right{
                   display: inline-block;
                   float: right;
                   h6{
                     font-weight: normal;
                     font-size: 12px;
                     width: 138px;
                   }
                   .up{
                     font-size: 12px;
                     color: #DAD8D8;
                   }
                   .right-bottom{
                     .view{
                      img{
                        margin-right: 3px;
                        vertical-align: -1px;
                      }
                       font-size: 12px;
                       color: #42a0ff;
                       margin-right: 20px;
                      }
                     .commit{
                      img{
                        margin-right: 3px;
                        vertical-align: -1px;
                      }
                       font-size: 12px;
                       color: #6FC93A;
                      }

                   }
                  }


                }

              }
            }
          }

      }
      // 学部
      .division{
        margin-bottom: 30px;
        .pro-left{
          display: inline-block;
          width: 900px;
          .pro-title{
            width: 900px;
            padding-bottom: 20px;
            display: inline-block;
            .title-left{
              display: inline-block;
            span{
              font-size: 24px;
              vertical-align: 6px;
              margin-left: 5px;
            }
          }
          .top-list{
            list-style: none;
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;
            margin-left: 20px;
            .first-li{
              border-bottom: 2px solid ;
              color: #42a0ff;
              padding-bottom: 2px;
              &:before{
                margin-left: 18px;
                position: absolute;
                bottom: 1px;
                border-bottom: 3px solid #42a0ff;
                border-top: 3px solid transparent;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                content: "";
              }
            }
            li{
              display: inline-block;
              margin-right: 28px;
              font-size: 14px;
              color: #1E1E1E;
              &:hover{
                color: #42bdeb;
                cursor: pointer;
              }
            }
          }
            }
            .detail{
              float: right;
              span{
                display: inline-block;
                width: 57px;
                height: 19px;
                margin-top: 10px;
                border: 1px solid #dbdbdb;
                font-size: 12px;
                text-align: center;
                border-radius: 0.4em;
                color: #999999;
                margin-right: 2px;
                cursor: pointer;
              }
              a{
                text-decoration: none;
                font-size: 14px;
                color: #42bdeb;
                line-height: 40px;
                margin-right: 20px;
              }
            }
            .list{
              list-style: none;
              margin-bottom: 20px;
              li{
                display: inline-block;
                margin-right: 16.2px;
                width: 160px;
                height: 162px;
                vertical-align: top;
                overflow: hidden;
                &:hover{
                  .description{
                    height: auto;
                    color: #42bdeb;
                    text-overflow: initial;
                    white-space: normal;
                  }
                  .img-content{
                    &:before{
                      height: 100%;
                      width: 100%;
                      transition: width 0.2s ease-out ,
                                 height 0.2s ease-out 0.2s;
                      border-bottom-color: #42bdeb;
                      border-left-color: #42bdeb;
                    }
                    &:after{
                      height: 100%;
                      width: 100%;
                      transition: width 0.2s ease-out ,
                                 height 0.2s ease-out 0.2s;
                      border-top-color: #42bdeb;
                      border-right-color: #42bdeb;
                    }
                    .info{
                      transform: translateY(0);
                    }
                  }

                }
                a{
                  .img-content{
                    position: relative;
                    overflow:hidden;
                    width: 160px;
                    height: 100px;
                    margin-right: 10px;
                    border-radius:0.4em;
                    margin-bottom: 10px;
                    &:before{
                      display: block;
                      content:"";
                      position: absolute;
                      bottom: 0px;
                      right: 0px;
                      width: 0px;
                      height: 0px;
                      transition: border-color 0s ease-in 0.4s,
                                  width 0.2s ease-in 0.2s,
                                  height 0.2s ease-in ;
                      border: 2px solid transparent;
                      border-radius: 0.4em;
                       box-sizing: border-box;
                    }
                    &:after{
                      display: block;
                      content:"";
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      width: 0px;
                      height: 0px;
                      transition: border-color 0s ease-in 0.4s,
                                  width 0.2s ease-in 0.2s,
                                  height 0.2s ease-in ;
                      border: 2px solid transparent;
                      border-radius: 0.4em;
                      box-sizing: border-box;

                    }
                    img{
                      width: 100%;
                      min-height: 100px;
                    }
                    .info{
                      display: flex;
                      align-items: center;
                      line-height: 30px;
                      position: absolute;
                      left: 0px;
                      right: 0px;
                      bottom: 0px;
                      background-color: #42bdeb;
                      transition: all 0.2s ease 0.2s;
                      transform:translateY(30px);
                      img{
                        width: 20px;
                        min-height: 20px;
                        margin: 0 5px;
                      }
                      span{
                        font-size: 12px;
                        color: white;
                      }

                    }

                  }
                .description{
                  width: 100%;
                  height: auto;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  margin-bottom: 5px;
                  font-size: 12px;
                  color: #1E1E1E;
                }
                .view-commit{
                  height: 17px;
                  .view{
                    margin-right: 20px;
                    padding-right: 2px;
                    color: #42bdeb;
                    font-size: 10px;
                    line-height: 17px;
                    img{
                      vertical-align: -2px;
                      margin-right: 2px;
                    }
                  }
                  .commit{
                    margin-right: 20px;
                    padding-right: 2px;
                    color: #6FC93A;
                    font-size: 10px;
                    line-height: 17px;
                    img{
                      vertical-align: -2px;
                      margin-right: 2px;
                    }
                  }
                }
                }
              }
            }
        }
        .pro-right{
          margin-top: 3px;
          vertical-align: top;
          display: inline-block;
          width: 20%;
          h2{
            display: inline-block;
            font-size: 20px;
            font-weight: normal;
            .span-first{
              font-size: 16px;
              color: #999999;
              margin-left: 2px;
            }
            .right-top{
              display: inline-block;
              position: relative;
              margin-left: 50px;
              font-size: 14px;
              color: #68ceff;
              vertical-align: bottom;
              .span-two{
                border-bottom: 2px solid ;
                color: #42a0ff;
                &:before{
                  margin-left: 11px;
                  position: absolute;
                  bottom: 0;
                  border-bottom: 3px solid #42a0ff;
                  border-top: 3px solid transparent;
                  border-left: 3px solid transparent;
                  border-right: 3px solid transparent;
                  content: "";
                }
              }
            }
          }
          ul{
            list-style: none;
            margin-top: 32px;
            .sou{
              a{
                color: #1E1E1E;
                &:hover{
                  color: #42a0ff;
                }
              }
              font-size: 12px;
              text-overflow:ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            li{
              margin-bottom: 10px;
              &:hover{
                h6{
                  color: #42a0ff;
                }
              }
              a{
                .right-left{
                  display: inline-block;
                  width: 89px;
                  height: 62px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .right-right{
                 display: inline-block;
                 float: right;
                 h6{
                   font-weight: normal;
                   font-size: 12px;
                   width: 138px;
                 }
                 .up{
                   font-size: 12px;
                   color: #DAD8D8;
                 }
                 .right-bottom{
                   .view{
                    img{
                      margin-right: 3px;
                      vertical-align: -1px;
                    }
                     font-size: 12px;
                     color: #42a0ff;
                     margin-right: 20px;
                    }
                   .commit{
                    img{
                      margin-right: 3px;
                      vertical-align: -1px;
                    }
                     font-size: 12px;
                     color: #6FC93A;
                    }

                 }
                }


              }

            }
          }
        }
      }
      // 书包
      .school-bag{
        margin-bottom: 30px;
        .pro-left{
          display: inline-block;
          width: 900px;
          .pro-title{
            width: 900px;
            padding-bottom: 20px;
            display: inline-block;
            .title-left{
              display: inline-block;
             span{
              font-size: 24px;
              vertical-align:6px;
              margin-left: 5px;
             }
            }
            }
            .top-list{
              list-style: none;
              position: relative;
              display: inline-block;
              vertical-align: top;
              margin-top: 10px;
              margin-left: 20px;
              .first-li{
                border-bottom: 2px solid ;
                color: #42a0ff;
                padding-bottom: 2px;
                &:before{
                  margin-left: 18px;
                  position: absolute;
                  bottom: 1px;
                  border-bottom: 3px solid #42a0ff;
                  border-top: 3px solid transparent;
                  border-left: 3px solid transparent;
                  border-right: 3px solid transparent;
                  content: "";
                }
              }
              li{
                display: inline-block;
                margin-right: 28px;
                font-size: 14px;
                color: #1E1E1E;
                &:hover{
                  color: #42bdeb;
                  cursor: pointer;
                }
              }
            }
            .detail{
              float: right;
              span{
                display: inline-block;
                width: 57px;
                height: 19px;
                margin-top: 10px;
                border: 1px solid #dbdbdb;
                font-size: 12px;
                text-align: center;
                border-radius: 0.4em;
                color: #999999;
                margin-right: 2px;
                cursor: pointer;
              }
              a{
                text-decoration: none;
                font-size: 14px;
                color: #42bdeb;
                line-height: 40px;
                margin-right: 20px;
              }
            }
            .list{
              list-style: none;
              margin-bottom: 20px;
              li{
                display: inline-block;
                margin-right: 16.2px;
                width: 160px;
                height: 162px;
                vertical-align: top;
                overflow: hidden;
                &:hover{
                  .description{
                    height: auto;
                    color: #42bdeb;
                    text-overflow: initial;
                    white-space: normal;
                  }
                  .img-content{
                    &:before{
                      height: 100%;
                      width: 100%;
                      transition: width 0.2s ease-out ,
                                 height 0.2s ease-out 0.2s;
                      border-bottom-color: #42bdeb;
                      border-left-color: #42bdeb;
                    }
                    &:after{
                      height: 100%;
                      width: 100%;
                      transition: width 0.2s ease-out ,
                                 height 0.2s ease-out 0.2s;
                      border-top-color: #42bdeb;
                      border-right-color: #42bdeb;
                    }
                    .info{
                      transform: translateY(0);
                    }
                  }

                }
                a{
                  .img-content{
                    position: relative;
                    overflow:hidden;
                    width: 160px;
                    height: 100px;
                    margin-right: 10px;
                    border-radius:0.4em;
                    margin-bottom: 10px;
                    &:before{
                      display: block;
                      content:"";
                      position: absolute;
                      bottom: 0px;
                      right: 0px;
                      width: 0px;
                      height: 0px;
                      transition: border-color 0s ease-in 0.4s,
                                  width 0.2s ease-in 0.2s,
                                  height 0.2s ease-in ;
                      border: 2px solid transparent;
                      border-radius: 0.4em;
                       box-sizing: border-box;
                    }
                    &:after{
                      display: block;
                      content:"";
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      width: 0px;
                      height: 0px;
                      transition: border-color 0s ease-in 0.4s,
                                  width 0.2s ease-in 0.2s,
                                  height 0.2s ease-in ;
                      border: 2px solid transparent;
                      border-radius: 0.4em;
                      box-sizing: border-box;

                    }
                    img{
                      width: 100%;
                      min-height: 100px;
                    }
                    .info{
                      display: flex;
                      align-items: center;
                      line-height: 30px;
                      position: absolute;
                      left: 0px;
                      right: 0px;
                      bottom: 0px;
                      background-color: #42bdeb;
                      transition: all 0.2s ease 0.2s;
                      transform:translateY(30px);
                      img{
                        width: 20px;
                        min-height: 20px;
                        margin: 0 5px;
                      }
                      span{
                        font-size: 12px;
                        color: white;
                      }

                    }

                  }
                .description{
                  width: 100%;
                  height: auto;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  margin-bottom: 5px;
                  font-size: 12px;
                  color: #1E1E1E;
                }
                .view-commit{
                  height: 17px;
                  .view{
                    margin-right: 20px;
                    padding-right: 2px;
                    color: #42bdeb;
                    font-size: 10px;
                    line-height: 17px;
                    img{
                      vertical-align: -2px;
                      margin-right: 2px;
                    }
                  }
                  .commit{
                    margin-right: 20px;
                    padding-right: 2px;
                    color: #6FC93A;
                    font-size: 10px;
                    line-height: 17px;
                    img{
                      vertical-align: -2px;
                      margin-right: 2px;
                    }
                  }
                }
                }
              }
            }
        }
        .pro-right{
          margin-top: 3px;
          vertical-align: top;
          display: inline-block;
          width: 20%;
          h2{
            display: inline-block;
            font-size: 20px;
            font-weight: normal;
            .span-first{
              font-size: 16px;
              color: #999999;
              margin-left: 2px;
            }
            .right-top{
              display: inline-block;
              position: relative;
              margin-left: 50px;
              font-size: 14px;
              color: #68ceff;
              vertical-align: bottom;
              .span-two{
                border-bottom: 2px solid ;
                color: #42a0ff;
                &:before{
                  margin-left: 11px;
                  position: absolute;
                  bottom: 0;
                  border-bottom: 3px solid #42a0ff;
                  border-top: 3px solid transparent;
                  border-left: 3px solid transparent;
                  border-right: 3px solid transparent;
                  content: "";
                }
              }
            }
          }
          ul{
            list-style: none;
            margin-top: 32px;
            .sou{
              a{
                color: #1E1E1E;
                &:hover{
                  color: #42a0ff;
                }
              }
              font-size: 12px;
              text-overflow:ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            li{
              margin-bottom: 10px;
              &:hover{
                h6{
                  color: #42a0ff;
                }
              }
              a{
                .right-left{
                  display: inline-block;
                  width: 89px;
                  height: 62px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .right-right{
                 display: inline-block;
                 float: right;
                 h6{
                   font-weight: normal;
                   font-size: 12px;
                   width: 138px;
                 }
                 .up{
                   font-size: 12px;
                   color: #DAD8D8;
                 }
                 .right-bottom{
                   .view{
                    img{
                      margin-right: 3px;
                      vertical-align: -1px;
                    }
                     font-size: 12px;
                     color: #42a0ff;
                     margin-right: 20px;
                    }
                   .commit{
                    img{
                      margin-right: 3px;
                      vertical-align: -1px;
                    }
                     font-size: 12px;
                     color: #6FC93A;
                    }
    
                 }
                }
    
    
              }
    
            }
          }
        }
      }
      }
    .footer{
      width: 100%;
      margin: 0 auto;
      background-color: #F6F6F6;
      padding-top: 20px;
      .center{
        padding-bottom:60px;
        width: 700px;
        margin: 0 auto;
        .footer-left{
          padding-right: 60px;
          border-right: 1px solid #e0e0e0;
          display: inline-block;
          span{
            margin-right: 42px;
            font-size: 15px;
            color: #999999;
            vertical-align: top;
          }
          .footer-list{
            list-style: none;
            display: inline-block;
            li{
              font-size: 18px;
              margin-bottom: 42px;
              a{
                color:#2e2e2e;
              }

            }
          }
        }
        .footer-right{
          display: inline-block;
          margin-left: 55px;
          a{
            margin-right: 25px;
            line-height: 90px;
            display: inline-block;
            text-align: center;
            .footer-img{
              width: 90px;
              height: 90px;
              border-radius: 50%;
              background-color: #6FC93A;
              i{
                color: white;
                vertical-align: middle;
                font-size: 45px;
              }
            }
            .footer-imgtwo{
              width: 90px;
              height: 90px;
              border-radius: 50%;
              background-color:#ff3737;
              i{
                color: white;
                vertical-align: middle;
                font-size: 45px;
              }
            }
            span{
              font-size: 20px;
              color: #2f2f2f;
            }
          }
        }
      }
      .icp{
          text-align: center;
          font-size: 18px;
          color: #929292;
          padding-bottom: 30px;
      }
    }
    .back-top{
      position: fixed;
      right: 30px;
      bottom: 30px;
      height: 56px;
      width: 56px;
      cursor: pointer;
      transition: all 0.25s ease;
      &:hover{
        transform: translate(-5px ,-10px);
        box-shadow: 10px 10px 6px 0 #848484;
      }
    }
    }
  }



